*.class
*.log

# Package Files #
*.jar
*.war
*.ear

# Ignore Output folder #
target

# Ignore eclipse project files #
.classpath
.settings
.project

# Intellij project files #
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Ignore dependency reduced POM #
dependency-reduced-pom.xml

# Individual developer configuration files
configuration_*.yml

run.sh

runConfig/WasteCarrierService.launch

.README.md.html

bin/georg_snippets.txt
Jenkins_Services_Env_Vars.sh

# Netbeans IDE files
nbactions.xml

# Default log location for the service (useful when running on a Vagrant box)
logs/**
