*.class

# Package Files #
*.jar
*.war
*.ear

# Ignore Output folder #
target

# Ignore eclipse project files #
.classpath
.settings
.project

# Ignore dependency reduced POM #
dependency-reduced-pom.xml

# Individual developer configuration files
configuration_*.yml

run.sh

runConfig/WasteCarrierService.launch

.README.md.html
